/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Center the app container */
#app {
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

/* Labels and inputs */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Button styles */
button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #317EFB;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #265bb5;
}

/* Result display */
#courseHandicapResult {
    margin-top: 20px;
    color: green;
    text-align: center;
}

/* Styles for the toggle button */
#toggleTableButton {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#toggleTableButton:hover {
    background-color: #45a049;
}

/* Styles for the table */
#handicapTable {
    width: auto; /* Adjust width to content */
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;  /* Center the table */
    margin-right: auto; /* Center the table */
}

#handicapTableContainer {
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
    text-align: center; /* Center the table in the container */
}

#handicapTable th, #handicapTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center align text */
}

#handicapTable th {
    background-color: #f2f2f2;
}

#handicapTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Highlighted row */
#handicapTable tr.highlight {
    background-color: #ffeeba;
}

/* Responsive design */
@media (max-width: 600px) {
    body {
        margin: 10px;
    }

    h1 {
        font-size: 1.5em;
        text-align: center;
    }

    button {
        font-size: 14px;
    }

    #toggleTableButton {
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }

    input {
        font-size: 14px;
    }

    #handicapTable th, #handicapTable td {
        font-size: 14px;
        padding: 6px;
    }
}